:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5vw;
  margin-right: 5vw;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1440px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.message {
  color: #71cfd9;
}

.error {
  color: #821811;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}

.review-by-user {
  display: flex;
  flex-direction: column;
}

.review-by-user {
  max-width: 50vw;
  margin-left: 10vw;
}

.delete-button {
  max-width: 20%;
}

.movie-item {
  max-width: 20vw;
  border-radius: 8px;
  gap: 2vw;
}

.movie-item img {
  max-width: 20vw;
}

/* Styling for home page media feed */
h1.movie-list-media-feed {
  display: flex;
  place-content: center;
}
div.movie-list-media-feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1vw;
}
div.movie-item-media-feed {
  width: 200px;
}
img.movie-item-media-feed {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
h2.movie-item-media-feed {
  margin: auto;
}


/* Styling for tag form input */
label.review-label {
  display: flex;
  flex-direction: row;
}
#title, #reviewBody {
  margin-bottom: 0.5em;
}
#name {
  margin-right: 0.5em;
}

.review-user-username {
  font-style: italic;
}

.tag-select {
  margin-right: 0.5em;
}

/* Movie Details page */
div.movieDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 35vw;
  flex-basis: 100%;
  flex: 1;
}
div.movieDetails img {
  max-width: 20vw;
  border-radius: 8px;
}
p.tagline {
  font-size: 1.2em;
}
div.movieDetailsPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2vw;
}
div.movieDetailsRightColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

